In [45]:
import pandas as pd
import ast
import numpy as np

# access to series key
# how to null the empty data
# function - Inspect which row induce the Error

In [67]:
path = "../../dataVault/waste_edge_booking_data/23.12.2020_to_26.1.2021.csv"
df = pd.read_csv(path)
df = df.drop(columns=['Schd Time Start','PO'])
# df.columns[2]

# df.columns[3].dtype
# df = df.fillna(0)
# df.columns[3].astype(datetime64)
# df.info()
# change type by row
# import ast
# df = df.applymap(ast.literal_eval).astype('int')
def transform_date_format(df: object):
        df['Date_idx'] = pd.to_datetime(df['Date'],format='%d/%m/%y')
        df = df.set_index(pd.DatetimeIndex(df['Date_idx']))
        return df

df = transform_date_format(df)
series = df.resample('7D',kind='period') 
series.Price.sum().keys()

PeriodIndex(['2020-12-23', '2020-12-30', '2021-01-06', '2021-01-13',
             '2021-01-20'],
            dtype='period[7D]', name='Date_idx', freq='7D')

In [ ]:
# df = pd.DataFrame({'x':['1.0692e+06']})
# for i, item in enumerate(df['x']):
#    try:
#       int(item)
#    except ValueError:
#       print('ERROR at index {}: {!r}'.format(i, item))

In [ ]:
# To report all rows which fails to map due to any exception:

# df.apply(my_function)  # throws various exceptions at unknown rows

# # print Exceptions, index, and row content
# for i, row in enumerate(df):
#     try:
#         my_function(row)
#     except Exception as e: 
#         print('Error at index {}: {!r}'.format(i, row))
#         print(e)

In [42]:
# >>> pd.to_numeric(s, errors='coerce')
# df.astype({'col1': 'int32'}).dtypes

In [54]:
# identify object dtypes
# obj_columns = list(df.select_dtypes(include=['object']).columns.values)
# df[obj_columns] = df[obj_columns].replace([None], np.nan)

# obj_columns = list(df.select_dtypes(include=['O']).columns.values)
# print(obj_columns)
df['Schd Time Start'] = df['Schd Time Start'].replace([None], np.nan)
# df.drop([],axis=0)

df

,Job No,Date,Schd Time End,Latitude,Longitude,Customer number,Customer Name,Site Name,Address 1,Address 2,...,Alternate Ref No 1,Alternate Ref No 2,Alternate Service Ref 1,Alternate Service Ref 2,Notes,Directions,CheckLists,Waste Type,Tip Site,Price
0,2609489.00,26/01/21,02:09,150.936966,-33.838989,4198.000,El-Jannah Supplies Pty Ltd,0,21 Cooper Street,0,...,0.0,0.0,0.0,0.0,0,Code for gate is 9550* or 1515*,0.0,Cardboard,0.0,93.39
1,2610855.00,26/01/21,00:00,150.771938,-33.961090,2121.000,Shepherd's Landscapes,Shepherd's Landscapes,143 Gregory Road,0,...,0.0,0.0,0.0,0.0,0,Rear lift bin with pockets done by Remondis P...,0.0,General Waste,0.0,71.02
2,2618945.00,26/01/21,09:14,150.958615,-33.699443,1674.056,WasteSpec - Kellyville Village North,0,Hezlett Rd after Samantha Riley Dr,0,...,0.0,0.0,0.0,0.0,0,AFTER 700AM Bins In Aldi Loading Dock press: k...,0.0,General Waste,0.0,332.59
3,2619036.00,26/01/21,00:00,151.075517,-33.863380,2550.000,The Animal Referral Hospital,0,250 Parramatta Road,0,...,0.0,0.0,0.0,0.0,0,VISY DOING PAPER ATTEND SITE EARLY PLEASE AS B...,0.0,Paper/Cardboard,0.0,46.70
4,2619096.00,26/01/21,02:35,150.967874,-33.834609,4357.000,Plus Fitness - Merrylands,0,Shop 3 / 23 Paton St,0,...,0.0,0.0,0.0,0.0,0,Rear access via Coolibah Street Bins are out t...,0.0,Cardboard,0.0,6.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50199,2586027.02,23/12/20,07:40,151.241826,-33.877657,3153.000,Matteo Restaurant & Bar,0,29-33 Bay St,0,...,0.0,0.0,0.0,0.0,# Containers serviced less than scheduled. Bo...,take everything and don't leave nothing behind...,0.0,Comingle,0.0,39.83
50200,2586028.00,23/12/20,09:10,151.216828,-33.878270,4022.000,Republic 2 - SP65530,0,50 Burton St,0,...,0.0,0.0,0.0,0.0,0,BINS LOCATED BEHIND ROLLER DOOR ON PALMER ST A...,0.0,General Waste,0.0,108.37
50201,2586029.00,23/12/20,04:22,151.243943,-33.878393,1674.059,WasteSpec - Kiaora Place,0,1 Kiaora Road,0,...,0.0,0.0,0.0,0.0,0,6:30 am to 9:30am Two collections points for t...,0.0,Comingle,0.0,31.92
50202,2582370.01,23/12/20,12:41,151.208299,-33.866887,3859.000,Harbour Assets Management Pty Ltd,0,2 Martin Pl,0,...,0.0,0.0,0.0,0.0,Copied from job #2582370.0,Bin Located on Angel Place - Opposite INDU,0.0,General Waste,0.0,0.00
50203,2586030.00,23/12/20,09:10,151.272953,-33.891912,3646.000,Rocksalt Gorup - Vue Bar Bondi,0,80 Campbell Parade,0,...,0.0,0.0,0.0,0.0,(F-BNO) Bins not Out|Service Type changed from...,** key provided for bin ** Leave bins locked a...,0.0,General Waste,0.0,13.20

In [ ]:


# df = df.fillna(0)
# for i, row in enumerate(df):
#     try:
#         df
#         df.astype({'Schd Time Start': 'str'}).dtypes
# #         df['Schd Time Start'] = df['Schd Time Start'].to_numeric(s, errors='coerce')
#         #         df['Schd Time Start'].to_datetime()
        
# #         df = df.applymap(ast.literal_eval).astype('int')
#     except Exception as e: 
#         print('Error at index {}: {!r}'.format(i, row))
#         print(e)
# print(df['Schd Time Start']).dtypes